{% if fields|length > 0 %}
    {# {{ d(settings) }} #}
    {# {{ d(form.options) }} #}
    {# {{ d(fields) }} #}
    {# <form #}
        {# class="{{ settings.form_class }} {{ settings.form_class }}-{{ __SELF__.alias }}" #}
        {# data-request="onSubmit" #}
        {# data-request-files #}
    {# > #}
    {{ form_ajax('onSubmit', {
        'files': true,
        'class': settings.form_class ~ ' ' ~ settings.form_class ~ '-' ~ __SELF__.alias,
    }) }}
        {# {{ form_hidden('form_id', form.id) }} #}
        {# {{ form_hidden('form_id', form.id) }} #}
        {% for key, field in fields %}
            {# {% if field['options'] is defined %} #}
                {# {{ d(field.options) }} #}
            {# {% endif %} #}
            <fieldset
                class="
                    {% if field['options'] is defined and field.options.group_class != '' %}
                        {{ field.options.group_class }}
                    {% elseif field[0] is defined and field.0.options.group_class != '' %}
                        {{ field.0.options.group_class }}
                    {% else %}
                        {{ settings.group_class }}
                    {% endif %}
                    {{ (field is iterable) ? 'type-group' }}
                "
            >
                {% if field is not iterable %}
                    {% if field.type != 'plaintext' %}
                        <label
                            for="{{ field.code }}"
                            class="{{ field.options.label_class != '' ? 'field.options.label_class' : settings.label_class }}"
                        >{{ field.name }}</label>
                    {% endif %}
                    {% partial __SELF__ ~ '::' ~ field.type field=field %}
                {% else %}
                    {% if field.0.options.is_show_description == 1 and field.0.description != '' %}
                        <legend
                            class="{{ field.0.options.legend_class != '' ? 'field.0.options.legend_class' : settings.legend_class }}"
                        >{{ field.0.description|strip_html }}</legend>
                    {% endif %}

                    {% for item in field %}
                        {% partial __SELF__ ~ '::' ~ item.type group=key field=item %}
                    {% endfor %}
                {% endif %}
            </fieldset>
        {% endfor %}
        <fieldset class="field-group">
            <button
                type="submit"
                class="{{ form.options.override_submit_class == 1 ? form.options.submit_class : settings.submit_class }}"
            >
                {{ form.options.override_submit_text == 1 ? form.options.submit_text : settings.submit_text }}
            </button>
        </fieldset>

    </form>
{% endif %}
