<button
    id="{{ field.code }}"
    name="{{ field.code }}"
    type="checkbox"
    {% if field.is_required == 1 %}
        required="required"
    {% endif %}
    {% for attribute in field.html_attributes %}
        {{ attribute.name }}="{{ attribute.value }}"
    {% endfor %}
    class="
        {% if field.options.field_class != '' %}
            {{ field.options.field_class }}
        {% else %}
            {{ settings.field_class }}
        {% endif %}
    "
    value="{{ (field.default != '') ? field.default : 'true' }}"
>
    {{ form.options.override_submit_text == 1 ? form.options.submit_text : settings.submit_text }}
</button>
